<!DOCTYPE html>
<html>
<head>
    <title>Data Input dan Respons JavaScript</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    
    <script src="static/data/lantai_G.geojson"></script>
    <script src="static/data/lantai_1.geojson"></script>
    <script src="static/data/lantai_2.geojson"></script>
    <script src="static/data/lantai_3.geojson"></script>
    <script src="static/data/bg.geojson"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <style>
        .result-box ul {
            border-top: 1px solid #000;
            padding: 15px 10px;
        }
        .result-box ul li{
            list-style: none;
            border-radius: 3px;
            padding: 15px 10px;
            cursor: pointer;
        }
        .result-box ul li:hover {
            background-color: rgb(160, 209, 255);
        }
        .path-box ul {
            /* padding: 15px 10px; */
            padding-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .path-box ul li{
            border: 1px solid #929292;
            list-style: none;
            border-radius: 3px;
            padding: 15px 10px;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body style="overflow: hidden;">
    <div style="align-items: center; background-color: black; height: 75px;" class="row text-center">
        <h1 class="text-white">Galaxy Mall 3 Maps</h1>
    </div>

    <div style="height: 100vh" class="row">
        <div class="col-3 bg-white m-0 p-0">
            <div class="ms-2 p-3">
            <form id="data-form">
                <div class="mb-3">
                  <label for="input1" class="form-label">Your Position</label>
                  <input type="text" class="form-control" id="user-data-1" autocomplete="off">
                </div>
                <div class="mb-3">
                  <label for="input2" class="form-label">Goal Position</label>
                  <input type="text" class="form-control" id="user-data-2" autocomplete="off">
                </div>
                <div class="d-grid ">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                </div>
              </form>
            </div>

            <div class="ms-2 result-box" style="max-height: 300px; overflow-y: scroll;">

            </div>

            <div class="ms-2 path-box" style="max-height: 300px; overflow-y: scroll;">

            </div>

            <div class="ms-2 p-3 bg-white" style="height: 100px; width: 23.4%; position: fixed; left: 0px; bottom: 0px; border-radius: 15px;">
                <div class="row" style="align-items: center;">
                    <div class="col-6 text-center">
                        <i class="fa-solid fa-shoe-prints" style="color: #000; font-size: 25px;"></i>
                        <p id="step"></p>
                    </div>
    
                    <div class="col-6 text-center">
                        <i class="fa-regular fa-clock"  style="color: #000; font-size: 25px;"></i>
                        <p id="duration"></p>
                    </div>
                </div>
                
            </div>
        </div>

        <div id="map" class="col-9">
            
        </div>
    </div>

    <script src="../static/js/autocomplete.js"></script>
    <script>
        let map;
        // const pathsBox = document.querySelector(".path-box");

        // pathsBox.innerHTML = '';

        function updateMap(data){
            let rute = data.rute
            let weight = data.dur
            let goal = data.goal
            let path = data.path
            if (weight == 0){
                document.getElementById("duration").innerHTML = '';
                document.getElementById("step").innerHTML = '';
            } else {
                document.getElementById("duration").innerHTML = weight + " seconds";
                document.getElementById("step").innerHTML = weight * 2 + " steps";
            }
            console.log(rute)
            console.log(weight)
            console.log(goal[0])
            console.log(goal[1])
            console.log(goal[2])
            if (map && map.remove) {
                map.off();
                map.remove();
            }
            map = L.map('map').setView([-7.27650430356789, 112.78022015113328], 19);
            var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                maxZoom: 25
            });
            osm.addTo(map);

            let goal_markerG = L.marker(goal[0], { color: '#29ADB2' });
            let goal_marker1 = L.marker(goal[1], { color: '#29ADB2' });
            let goal_marker2 = L.marker(goal[2], { color: '#29ADB2' });

            let dasar = L.geoJSON(base, {
                style: {
                    "color": "#ffffff",
                    "weight": 0,
                    "fillOpacity": 1
                }
            });
            let denahG = L.geoJSON(lantai_G, {
                style: {
                    "color": "#C5E898",
                    "weight": 2,
                    "fillOpacity": 0.5
                },
                onEachFeature: function (feature, layer) {
                    if ("name" in feature.properties) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            });
            let denah1 = L.geoJSON(lantai_1, {
                style: {
                    "color": "#C5E898",
                    "weight": 2,
                    "fillOpacity": 0.5
                },
                onEachFeature: function (feature, layer) {
                    if ("name" in feature.properties) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            });
            let denah2 = L.geoJSON(lantai_2, {
                style: {
                    "color": "#C5E898",
                    "weight": 2,
                    "fillOpacity": 0.5
                },
                onEachFeature: function (feature, layer) {
                    if ("name" in feature.properties) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            });
            let denah3 = L.geoJSON(lantai_3, {
                style: {
                    "color": "#C5E898",
                    "weight": 2,
                    "fillOpacity": 0.5
                },
                onEachFeature: function (feature, layer) {
                    if ("name" in feature.properties) {
                        layer.bindPopup(feature.properties.name);
                    }
                }
            });

            let polyline0 = L.polyline(rute[0], { color: '#29ADB2' });
            let polyline1 = L.polyline(rute[1], { color: '#29ADB2' });
            let polyline2 = L.polyline(rute[2], { color: '#29ADB2' });
            console.log(polyline0);
            console.log(polyline1);
            console.log(polyline2);

            let lantaiG = L.layerGroup([osm, dasar, denahG, polyline0, goal_markerG]);
            let lantai1 = L.layerGroup([osm, dasar, denah1, polyline1, goal_marker1]);
            let lantai2 = L.layerGroup([osm, dasar, denah2, polyline2]);
            let lantai3 = L.layerGroup([osm, dasar, denah3]);

            let baseLayers = {
                "GF":lantaiG,
                "L1":lantai1,
                "L2":lantai2,
                "L3":lantai3,
            };

            let control = L.control.layers(baseLayers).addTo(map);
        };

        let blank = {
            "dur": 0,
            "rute": [[], [], []],
            "goal": [[], [], []],
            "path": []
        }
        updateMap(blank);

        document.getElementById("data-form").addEventListener("submit", function(e) {
            e.preventDefault();
            let userData1 = document.getElementById("user-data-1").value;
            let userData2 = document.getElementById("user-data-2").value;
            sendDataToPython([userData1, userData2]);
        });
        
        function sendDataToPython(data) {
            fetch("/process_data", {
                method: "POST",
                body: JSON.stringify({ data: data }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                updateMap(data);
                displayPath(data.path);
            });
        }

        function displayPath(path){

            // --------------------------------------------------------
            const pathsBox = document.querySelector(".path-box");
            const content = path.map((list) => {
                return "<li onclick = 'selectInput1(this)' class=''>" + list + "</li>";
            });

            pathsBox.innerHTML = "<ul>" + content.join('') + "</ul>";
        }
        // -------------------------------------------------------------------------------------------
        // const pathsBox = document.querySelector(".path-box");
        // const input1 = document.getElementById("user-data-1");
        // const input2 = document.getElementById("user-data-2");

        // document.body.addEventListener("click", function(event) {
        //     // Check if the clicked element is outside of the pathsBox
        //     if (!pathsBox.contains(event.target)) {
        //         pathsBox.innerHTML = ''; // Clear the pathsBox
        //     }
        // });


        // input1.onkeyup = function(){
        //     let result = [];
        //     let input = input1.value;
        //     if (input.length){
        //         result = availableKeywords.filter((keyword) => {
        //             return keyword.toLowerCase().includes(input.toLowerCase());
        //         });
        //         console.log(result);
        //     }
        //     display1(result);

        //     if (!result.length){
        //         pathsBox.innerHTML = '';
        //     }
        // }

        // function display1(result){
        //     const content = result.map((list) => {
        //         return "<li onclick = 'selectInput1(this)' class='text-white'>" + list + "</li>";
        //     });

        //     pathsBox.innerHTML = "<ul>" + content.join('') + "</ul>";
        // }

        // function selectInput1(list){
        //     const parser = new DOMParser();
        //     const decodedText = parser.parseFromString(list.innerHTML, 'text/html').body.textContent;
        //     console.log(decodedText);

        //     input1.value = decodedText;
        //     pathsBox.innerHTML = '';
        // }

    </script>
</body>
</html>
