<!DOCTYPE html>
<html>
<head>
    <title>Data Input dan Respons JavaScript</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="static/data/lantai_G.geojson"></script>
    <script src="static/data/lantai_1.geojson"></script>
</head>
<body>
    <form id="data-form">
        <label for="user-data">Masukkan Data:</label>
        <input type="text" id="user-data-1" name="user-data-1">
        <input type="text" id="user-data-2" name="user-data-2">
        <input type="submit" value="Kirim">
    </form>
    <p id="response"></p>
 
    </br>
    <div id="map" style="height: 100vh; width: 100%;"></div>

    <script>
        let map;

        function updateMap(data){
            if (map && map.remove) {
                map.off();
                map.remove();
            }
            map = L.map('map').setView([-7.275861870602128, 112.78094966850989], 18);
            let googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
                maxZoom: 20,
                subdomains:['mt0','mt1','mt2','mt3']
            });
            googleStreets.addTo(map);

            let denahG = L.geoJSON(lantai_G);
            let denah1 = L.geoJSON(lantai_1);

            let polyline0 = L.polyline(data[0], { color: 'blue' });
            let polyline1 = L.polyline(data[1], { color: 'red' });
            let polyline2 = L.polyline(data[2], { color: 'green' });
            console.log(polyline0);
            console.log(polyline1);
            console.log(polyline2);

            let lantaiG = L.layerGroup([googleStreets, denahG, polyline0]);
            let lantai1 = L.layerGroup([googleStreets, denah1, polyline1]);
            let lantai2 = L.layerGroup([googleStreets, polyline2]);

            let baseLayers = {
                "G":lantaiG,
                "1":lantai1,
                "2":lantai2,
            };

            let control = L.control.layers(baseLayers).addTo(map);
        };

        updateMap([[],[],[]]);

        document.getElementById("data-form").addEventListener("submit", function(e) {
            e.preventDefault();
            let userData1 = document.getElementById("user-data-1").value;
            let userData2 = document.getElementById("user-data-2").value;
            sendDataToPython([userData1, userData2]);
        });
        
        function sendDataToPython(data) {
            fetch("/process_data", {
                method: "POST",
                body: JSON.stringify({ data: data }),
                headers: {
                    "Content-Type": "application/json"
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                updateMap(data);
            });
        }
    </script>
</body>
</html>
